@using DataModel

@{
    ViewData["Title"] = "Orders";
}

<h1>index</h1>

@foreach (DataOrder order in Model)
{
<div class="container">
    @Html.HiddenFor(model => order.Id)
    <div class="col-xs-6 col-sm-3">
        <strong>@order.CustomId</strong>
    </div>
    <div class="col-xs-6 col-sm-3">
        <medium>@order.TotalPrice</medium>
    </div>
    <div class="col-xs-6 col-sm-7">

        @*@Html.ActionLink("Delete", "productDelete", "Product", new {id = product.Id},*@ )
    </div>
    @* <div> <a asp-action="ShowOrder" asp-route-id="@product">Delete</a></div>*@
</div>
}